<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>User Management</title>
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/addict.css") %>">
  </head>

  <body>
    <div class="container">
      <input type="hidden" id="csrf-token" value="<%= @csrf_token %>">

      <main role="main">
        <%= render @view_module, @view_template, assigns %>
      </main>

    </div> <!-- /container -->
    <script src="<%= static_path(@conn, "/js/jquery.min.js") %>"></script>
    <script src="<%= static_path(@conn, "/js/addict.js") %>"></script>
  </body>
</html>
